/* ----------- GLOBAL ----------- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background-color: #a48ab8b4;
  backdrop-filter: blur(5px);
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  padding-bottom: 33%;
  color: #484250;
}

textarea {
  width: 345px;
  height: 70px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid hwb(0 18% 82%);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #484250;
  resize: vertical;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: #b8b8b8;
  background-color: rgba(255, 255, 255, 0.8);
}

/* ----------- EN-TÊTE ----------- */
.en-tête {
  background-color: #262626;
  border-bottom: 6px groove #b8b8b8;
  width: 100%;
  height: 98px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 15px;
  left: 10px;
}

.nom {
  color: #ffffff;
  font-size: 32px;
  font-variant: small-caps;
  margin: 0;
  position: relative;
  left: 90px;
}

/* ----------- BARRE DE RECHERCHE ----------- */


.search-bar {
  width: 230px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 14px;

}

.research-btn {
  height: 36.5px;
  width: 45px;
  position: fixed;
}

i {
  font-size: 20px;
  margin: auto;
}

/* ----------- PARTIE PRINCIPALE ----------- */
.part1 {
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  position: absolute;
  right: 3%;
  top: -4%;
}


/* ----------- AMIS ----------- */

.liste_ami {
  display: flex;
  flex-direction: column;
  gap: 50px;
  backdrop-filter: blur(50px);


}

.boutton_ami{
  display: flex;
  align-items: center;
  padding: 30px 148px;
  border-radius: 2px;
  cursor: pointer;
  border:1px solid #ccc;  
  background: linear-gradient(135deg, rgb(188, 158, 216), rgb(172, 155, 196)); 
  cursor:pointer;
  backdrop-filter: blur(50px);
}

.custom-file{
width: 100%;
display: inline-block;
vertical-align: top;
}

.affichage_nom{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  color: #484250;
}
/* ----------- PUBLICATIONS ----------- */
.post-container {
  width: 370px;
  backdrop-filter: blur(50px);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 16%;
  left: 0%;
}

.publish-btn {
  width: 84%;
  padding: 12px;
  background: linear-gradient(135deg, #484250, #484250);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.publish-btn:hover {
  background-color: #9a9a9a;
}

.publica {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 17%;
  margin-left: 30%;
  margin-right: 30%;
}

.publication-container {
  width: 450px;
  backdrop-filter: blur(50px);
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

/* ----------- BOUTONS ACTIONS ----------- */
.action-buttons {
  padding: 12px;
  background: linear-gradient(135deg, #484250, #484250);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons:hover {
  background-color: #9a9a9a;
}

.profil {
  position: absolute;
  z-index: 15;
 right: 2%;
  top: 1%;
}

.deconnexion {
  position: absolute;
  z-index: 15;
  right: 13%;
  top: 2%;
  width: 50px;
  height: 50px;
}

.discussion {
  position: absolute;
  z-index: 15;
  right:18%;
  top: 2%;
  width: 50px;
  height: 50px;
}

.notification {
  position: absolute;
  z-index: 15;
  right: 23%;
  top: 2%;
  width: 50px;
  height: 50px;
}

/* ----------- NOTIFICATIONS ----------- */
.boite {
  position: absolute;
  top: 17%;
  left: 74%;
  width: 22%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  z-index: 20;
}


/*----------- COMMENTAIRE ----------- */
.boite_com {
  position: absolute;
  top: 17%;
  left: 34%;
  width: 30%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  z-index: 20;
}

.fermer-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #909499;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}


.commentaire{
    position: relative;
    top: 42px; 
    padding: 10px;
}

.like{
  position: relative;
  left: 13%;
  padding: 10px;
  bottom: 0%;
}


.comment-btn{
  height: 36.5px;
  width: 45px;
  position: absolute;
}

.commentaire-container{
  width: 94%;
  backdrop-filter: blur(50px);
  padding: 10px;
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.commentaire-bar{
  width: 80%;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 14px;
}

.logo_commentaire{
  position: absolute;
  bottom: 12%;
  right: 20%;
  font-size: 2em;
}

.footer-legal {
  width: 200px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  padding: 15px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  position: fixed;
  z-index: 100;
  bottom: 60px;
  left: 60px;
}



.input-file-hidden {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 8px 16px;
  background: linear-gradient(135deg, #484250, #484250);
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 66%;
  right: 25px;
}

