/* ----------- GLOBAL ----------- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a48ab8b4;
  backdrop-filter: blur(5px);
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  color: #484250;
}

div{
  width: 400px;
  height: 400px;
  backdrop-filter: blur(50px);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

a{
  width: 90px;
  padding: 10px 20px;
  margin: 20px 10px 0 10px;
  background: linear-gradient(135deg, #484250, #484250);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}