

body {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-size: cover;
  min-height: 100vh;
  background-color: #a48ab8b4;
}

header {
  width:400px;
  height:400px;
  backdrop-filter: blur(50px);
  padding: 20px 40px;
  color: #000000;
}

header img {
  height: 280px;
  width: auto;
}

.site-name {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 2.5px;

}

.description {
  max-width: 800px;
  margin: 50px auto;
  background-color: rgba(43, 43, 46, 0.5);
  backdrop-filter: blur(50px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
  color: #0e0d10;
}

.description a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.description a:hover {
  text-decoration: underline;
}

strong {
  color: #000000;
  font-size: 1.5em;
}


.bienvenue{
  font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 2em;
}