

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-color: #a48ab8b4;
  backdrop-filter: blur(5px);
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  color: #484250;
}

#avatar{
  display: flex;
  gap:10px;
  margin: auto;
  position: relative;
  left: 7%;
}



.avatar-container {
  font-family: 'Times New Roman', Times, serif; 
  backdrop-filter: blur(50px);
  width: 40%;
  padding-bottom: 4%;
  text-align: center; 
  background: rgba(255, 255, 255, .1);
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  color: #484250;

  
}


.avatar-option {
  display: inline-block; 
  margin: 10px; 
}

.avatar-option img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  border: 2px solid transparent; 
  transition: border 0.3s; /* Effet de transition fluide */
}

.avatar-option input[type="radio"] {
  margin-top: 10px;
  cursor: pointer;
}

.avatar-option input[type="radio"]:checked + img {
  border: 2px solid rgb(177, 53, 148); 
}

.bio-container{
  font-family: 'Times New Roman', Times, serif; 
  background: rgba(255, 255, 255, .1);
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  color: #484250;
  backdrop-filter: blur(50px);
  width: 45%;
  height: 545px;
  text-align: center;

}

.titre{
  font-weight: bold;      
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  color: #484250;

}

.bienvenue{
  position: absolute;
  z-index: 6;
  top:0%;
  font-size: 36px;
}

 .valide-btn  {
  width: 40%;
  height: 45px;
  background: linear-gradient(135deg, #484250, #484250);
  color: white;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  position:absolute;
  top: 415px;
  right: 30%;
}

textarea {
  width: 400px;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid hwb(0 18% 82%);
  border-radius: 8px;
  background-color: #aaaaaa;
  color: #333;
  resize: vertical; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

textarea:focus {
  outline: none;
}

